version: '3'

services:
  mongodb:
    image: mongo:4.4
    container_name: mongodb-container
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - tpfinalhia

  mongo-express:
    image: mongo-express
    container_name: mongo-express-container
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb-container
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
    ports:
      - "8081:8081"
    networks:
      - tpfinalhia

  backend:
    build:
      context: ./proybackendgrupo08
    image: raquelvirreyra/backend:latest
    container_name: backend-container
    environment:
      - MONGODB_URI=mongodb://root:root@mongodb-container:27017/proyectofinalbd?authSource=admin
    ports:
      - "3000:3000"
    networks:
      - tpfinalhia

  frontend:
    build:
      context: ./proyfrontendgrupo08
    image: raquelvirreyra/frontend:latest
    container_name: frontend-container
    ports:
      - "80:80"
    networks:
      - tpfinalhia

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower-container
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=10
    depends_on:
      - backend
      - frontend
    restart: always

networks:
  tpfinalhia:
    driver: bridge
