<div class="container-fluid">
  <app-header></app-header>
  <div class="container py-4">
    

    <div class="p-3 mb-1 rounded-3">
      <div class="container-fluid py-1">
        <h1 class="display-5 fw-bold">Bienvenido</h1>
        <p class="col-md-8 fs-4">La gestión de la relación con los clientes (Gestor de Eventos Empresaurios) es un software de gestión empresarial que tiene como principal objetivo centralizar y organizar.
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-4 text-white bg-dark rounded-3">
          <img src="/assets/1.jpg" class="img-fluid rounded float-start"  alt="...">
          <h2>Reuniones Planificadas</h2>
          <p>Por este motivo, para organizar reuniones de trabajo efectivas, es importante elaborar una planificación previa y seguir ciertas indicaciones.</p>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-4 bg-light border rounded-3">
          <img src="/assets/2.jpg" class="img-fluid rounded float-start"  alt="...">
          <h2>La Importancia de las Reuniones</h2>
          <p>La comunicación en las empresas es un factor clave para lograr los resultados y conseguir posicionarse como una organización de éxito. .</p>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>