<div class="container-fluid">
    <app-header></app-header>
    <div class="container-xl">
        <div class="row">
            <h2 class="col-12 m-3 text-center">Listado de Empleados</h2>
        </div>

<table  class="table table-hover table-bordered table-responsive">
    <thead class="table-success">
    <tr>
        <th style="width: 10%">
            Legajo 
        </th>
        <th style="width: 20%">
            Apellido
        </th>
        <th style="width: 20%">
            Nombre
        </th>
        <th style="width: 20%">
            Email
        </th> 
        <th style="width: 20%">
            Dependencia
        </th>   
        <th style="width: 10%">
            Acciones
        </th>   
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of empleados">
        <td>{{item.Legajo}}</td>
        <td>{{item.Apellido}}</td>
        <td>{{item.Nombre}}</td>
        <td>{{item.Email}}</td>
        <td><li style="list-style:none" *ngFor="let depe of item.Dependencias">{{depe.nombre}}</li></td>
      
        <td>
           <button type="button" class="btn btn-outline-warning" (click)="eliminarEmpleado(item)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                            </svg></button>
                        <button type="button" class="btn btn-outline-primary" (click)="modificarEmpleado(item)"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                                viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                            </svg></button>
        </td>

    </tr>
    </tbody>
</table>

</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
</div>
<app-footer></app-footer>

